/* Navbar */
.navbar {
    position: relative;
    z-index: 1;
}

.navbar-brand {
    font-family: Viga;
    font-size: 32px;
}

/* Jumbotron */
.jumbotron {
    background-image: 
    /* top image*/
    linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    /*bottom image*/
    url(img/jumbotron-bg.jpg);
    background-size: cover;
    height: 340px;
    text-align: center;
}
.jumbotron .container {
    z-index: 1;
    position: relative;
}
.jumbotron .display-4 {
    color: white;
    margin-top: 100px;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
    font-size: 40px;
    margin-top: 30px;
}
.jumbotron .display-4 span {
    font-weight: 500;
}
.jumbotron img {
    margin-top: 150px;
    width: 300px;
    box-shadow: 0 0 0 5px white;
}

/* info panel */
.info-panel {
    box-shadow: 0 3px 20px rgba(0,0,0,0.5);
    border-radius: 12px;
    margin-top: -100px;
    background-color: white;
    padding: 30px;
}
.info-panel img {
    width: 80px;
    height: 80px;
    margin-left: -10px;
}

.info-panel h1 {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    /* margin-top: 20px; */
}
.info-panel p {
    font-size: 14px;
    color: #acacac;
    margin-top: -5px;
    font-weight: 200px;
}

/* Workingspace */
.workingspace {
    margin-top: 20px;
}
.workingspace h3 {
    font-size: 40px;
    font-weight: 200;
    /* margin-top: 30px; */
    text-align: center;
}
.workingspace h3 span {
    font-weight: 500;
}
.workingspace p {
    font-size: 18px;
    color: #acacac;
    font-weight: 200;
    margin: 30px 0;
}

/* footer */
.footer {
    margin-top: 100px;
}
.footer p {
    color: #acacac;
    font-size: 18px;
}
.fotoku {
    margin-top: -200px;
    width: 300px;
    height: 300px;
    box-shadow: 0 0 0 5px white;
}
.sosmed img {
    width: 30px;
    height: 30px;
    margin: 10px;
}
.sosmed h4 {
    font-size: 15px;
    font-weight: 200;
    margin-top: 20px;
}

/* ultility */
.tombol {
    text-transform: uppercase;
    border-radius: 40px;
}

/* Versi Dekstop */
@media (min-width: 992px) { 

    .navbar-brand, .nav-link { 
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
    }

    .nav-link {
        text-transform: uppercase;
       margin-right: 30px;
    }

    .nav-link:hover::after {
        content:'';
        display: block;
        border-bottom: 3px solid #0B63DC;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    /* Jumbotron */
    .jumbotron {
        margin-top: -75px;
        height: 440px;
    }
    .jumbotron .display-4 {
        font-size: 62px;
    }

 }